@media screen and (max-width:600px) {
     *{
         overflow-x: hidden;
     }

     .nav-ul{
        display: none;
        width: 100%;
        flex-direction: column;
    }

    .nav-ul li a{
    display: none;
    padding: 10px;
    }

    .hamburger{
        display: block;
    }

    .nav-ul.show{
        display: flex;
        width: 100%;
    }


    #showcase h6{
        font-size: 2.2rem;
    }
    #showcase h1{
        font-size: 2.8rem;
        width: 300px;
    }
    .main-cards{
        display: block;
    }
    .card-inner{
        width: 21rem;
        height: 22.1rem;
        margin-bottom: 3rem;
        margin-left: 0.8rem;
        overflow: hidden;
    }
    .card-text h4{
        font-size: 1.1rem;
    }

    .card-text h2{
        font-size: 1.5rem; 
        margin-bottom: 2rem;
    }
    .section1 h6{
        font-size: 2rem;

    }

    .section1 p{
        width: 300px;
        font-size: 1.2rem;
    }
    #showcase1{
        min-height: 600px;
    }

    #showcase1 h1{
        font-size: 2.4rem;
        text-align: center;
    }

    #showcase1 h6{
        font-size: 2rem;
        text-align: center;
        margin-top: 5rem;
    }

    #showcase1 p{
        font-size: 1.1rem;
        width: 370px;
        margin-left: -10px;
        overflow: hidden;
        
        margin-top: 2rem;
    }

    #showcase1 button{
        padding: 1.2rem 1.1rem;
        margin: auto;
        margin-bottom: 2rem;
        
    }
    .main-grid{
        display: block;
    }

    .main-grid2{
        display: block;
        text-align: center;
        padding-bottom: 1rem;
    }
    .showcase3{
        overflow: hidden;
        position: relative;
    }

    .showcase3 p{
        font-size: 1rem;
    }

    .showcase3 span{
        display: inline-flex;
    }


    .flex{
        display: block;
    }

    .showcase5 button{
        width: 100%;
        margin-bottom: 3rem;
    }

    .showcase5 .span{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem;
    }

    .icons i{
        margin: 1rem;
    }


    .showcase5 h5{
        font-size: 1.5rem;  
    }

    .showcase5 .left-button{
        font-size: 1.5rem; 
    
    }

    footer{
        position: relative;
        
    }

    .mini-footer{
        display: block;
        
    }

    .social{
        position: absolute;
        top: -3rem;
        text-align: center;
        width: 95%;
    }

    .social a{
        margin-left: 1.5rem;
    
    }

    footer img{
        display: none;
    }

    footer i{
        font-size: 1.7rem;
        padding-top: 1rem;

    }

    footer p{
        margin-top: 3rem;
        font-size: 1.2rem;
        text-align: center;
        margin-left: -1rem;
    }

    footer h6{
        font-size: 1.2rem;
        margin-bottom: 3rem;
    }



    .flex4{
        display: block;
        margin-top: 5rem;
        margin-left: 3rem;
  

    }




    
    


}





/**@media screen and (max-width:1000px) {
       *{
           overflow-x: hidden;
       }

       .main-cards{
        display: block;
    }


    }**/