@media screen and (max-width:600px) {
    .nav-ul{
        display: none;
    }

    .hamburger{
        display: block;
    }

    .nav-ul.show{
        display: flex;
        width: 100%;
    }
    *{
        overflow-x: hidden;
    }

    #showcase h6{
        font-size: 2rem;
    }
    #showcase h1{
        font-size: 2.5rem;
        width: 300px;
    }
    .main-cards{
        display: block;
    }
    .card-inner{
        width: 30rem;
        height: 32rem;
        margin-bottom: 3rem;
    }
    .section1 h6{
        font-size: 2rem;

    }

    .section1 p{
        width: 300px;
        font-size: 1.2rem;
    }

    #showcase1 h1{
        font-size: 3rem;
        text-align: center;
    }

    #showcase1 h6{
        font-size: 2rem;
        text-align: center;
        margin-top: 5rem;
    }

    #showcase1 p{
        font-size: 1rem;
    }

    #showcase1 button{
        padding: 1rem 1rem;
        
    }
    .main-grid{
        display: block;
    }

    .main-grid2{
        display: block;
        text-align: center;
    }

    .flex{
        display: block;
    }
    .showcase5 button{
        width: 100%;
        padding: 1.5rem 1.5rem;
        margin-bottom: 3rem;
    }


    .showcase5 h5{
        font-size: 1.5rem;
        margin: auto;
        
    }

    .showcase5 .left-button{
        font-size: 1.5rem;
        margin: auto;  
    }

    footer .social{
        display:block ;

    }

    .para{
        margin-top: 5rem;
    }

}

@media screen and (max-width:1000px) {
       *{
           overflow-x: hidden;
       }
    }